.slide-radio {
    position: relative;

    border: 1px solid var(--border-color);

    display: flex;

    height: 48px;

    border-radius: 24px;

    transition: border .3s var(--n-bezier);
}

.slide-radio:hover {
    border: 1px solid var(--primary-color-hover);
}

.slide-radio-item {
    cursor: pointer;

    width: 25%;
    line-height: 48px;
    text-align: center;
    font-size: 12px;
}

.slide {
    position: absolute;
    top: 1px;

    width: 25%;
    height: 44px;
    box-shadow: var(--box-shadow-2);

    border-radius: 22px;

    transition: left .3s var(--n-bezier);
}